


  {% extends 'base.html' %}
{% block title %}add new agtech{% endblock %}
{% block main %}


<form method="POST" action="{{ url_for('home_bp.ag_tech_entry') }}" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <fieldset class="form-field">
      {{ form.company_name.label }}
      {{ form.company_name(size=20) }}
      {% if form.company_name.errors %}
      <ul class="errors">
        {% for error in form.company_name.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
  </fieldset>

  <fieldset class="form-field">
    {{ form.company_product.label }}
    {{ form.company_product(size=20) }}
    {% if form.company_product.errors %}
    <ul class="errors">
      {% for error in form.company_product.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  <fieldset class="form-field">
    {{ form.img_url.label }}
    {{ form.img_url(size=20) }}
    {% if form.img_url.errors %}
    <ul class="errors">
      {% for error in form.img_url.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </fieldset>

  {{ form.submit }}

</form>


  

  {% endblock %}  