{% extends 'base.html' %}
{% block title %}add new agtech{% endblock %}
{% block main %}
<ul>
   <div class="list">

    <li><a href="{{ url_for('home_bp.add_new_hw') }}">Add Hardware</a></li>
    <li><a href="{{ url_for('home_bp.add_new_sw') }}">Add Software</a></li>
    <li><a href="{{ url_for('home_bp.add_new_company') }}">Add Company</a></li>
    <li><a href="{{ url_for('home_bp.add_new_crop') }}">Add Crop</a></li>
    <li><a href="{{ url_for('home_bp.add_magickal_intervention') }}">Add Hex/ Spell/ Magickal Intervention</a></li>

  </ul>
   </div>
   
{% endblock %}}
