{% extends 'base.html' %}

{% block title %}URL for {% if code %}"{{ code }}"{% endif %}{% endblock %}

{% block main %}

<div class="wrap">
  <div class="main">
      <div class="container-header"><span style="background-color:cornsilk;">Category:<a href=""></a></span> </div>
      <div class="subflex">
      <div class="left-column">
          <div class="l-top">
            
            <img src="{{ url_for('home_bp.static', filename = 'user_files/'+companies.company_img|safe) }}" />
              <!-- <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>                  -->
          </div>
          <div class="l-bottom">
              <div class="l-bottom-content">
                  <span class="section-headers">Related Software: 
                  <a href="">{{ sw_id.sw_company_product }}</a>, <a href="">Smart Firmer</a></span>
                  <br /><br />
                  <span style="background-color:cornsilk;">{{ sw_id.sw_description }}
                  </span>
                  <span class="section-headers">Related Hardware: 
                    <a href="">{{ hw_id.hw_company_product }}</a>, <a href="">Smart Firmer</a></span>
                    <br /><br />
                    <span style="background-color:cornsilk;">{{ hw_id.hw_description }}
                    </span>
                
              </div>
          </div>
      </div>
      <div class="middle-column">
      
          <div class="m-middle">
              <div class="m-middle-content">
                  <span class="section-headers">Company:<a href="">{{ companies.company_name }}</a></span><br />
                  
              <span class="section-headers">Keywords:<a href="">{{ companies.company_keywords }}</a></span><br />
           
              <span class="section-headers">Board Members:<a href="">{{ companies.company_board_members }}</a></span><br />
              <span class="section-headers">Profits:<a href="">{{ companies.company_profits}}</a></span>
              <br /><br /><br /><br />
              <span style="background-color:cornsilk;">
                {{ companies.company_description }}
              </span>
                  <br /><br /><br /><br />
                  <span class="section-headers">References:</span><br />
                  <span style="background-color:cornsilk;">
                      <span class="section-content"><a href="">{{ companies.related_companies }}</a></span><br />
                      
                      <span class="section-content"><a href="">linkylinklink</a></span><br />
                  </span>
              </div>
          </div> 

      </div>   
  </div> 
  </div>
  <div class="right-column">
      <div class="r-top">
          <span class="section-headers">Related Companies:</span><br />
          <span style="background-color:cornsilk;">
              <a href="">AGCO GROUP</a><br />
              <a href="">Fendt</a><br />
              <a href="">Precision Planting</a>
          </span>
      </div>
      <div class="r-m1">
          <div class="r-column-content">
            <span class="section-headers">Related Crops:</span><br />
                  <h3>{{ crops_id.crop_name }}</h3>  
             
          </div>                
      </div> 
      <div class="r-m2">
          <div class="r-column-content">
              <h3>Crops</h3>
          </div>  
      </div> 
      <div class="r-bottom">
          <div class="r-column-content">
              <h3>Spell</h3>
          </div>                
      </div> 
          
  </div>   
</div>



<script>
  function myFunction() {
    var copyText = document.getElementById("new_company_product");
    copyText.select();
    document.execCommand("copy");
  }
</script>

{% endblock %}
