{% extends 'base.html' %}
{% block title %}home title{% endblock %}
{% block main %}


{% block content %}
    <h1>Edit Profile</h1>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    <form action="{{ url_for('home_bp.edit_user') }}" method="POST">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
    Your name is {{ current_user.username }}! Visit your <a href="{{ url_for('home_bp.user', username=current_user.username) }}">Profile</a>
{% endblock %}

{% endblock %}  