{% extends 'base.html' %}

{% block title %}URL for {% if code %}"{{ code }}"{% endif %}{% endblock %}

{% block main %}

<div class="wrap">
  <div class="main">
      <div class="container-header"><span style="background-color:cornsilk;">Category:<a href="#">{{ hw_products.hw_categories }}</a></span> </div>
      <div class="subflex">
      <div class="left-column">
          <div class="l-top">
            
            <img src="{{ url_for('home_bp.static', filename = 'user_files/'+hw_products.hw_product_img|safe) }}" />
              <!-- <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>                  -->
          </div>
          <div class="l-bottom">
              <div class="l-bottom-content">
                  <span class="section-headers">Software: </span>
                      {% for sw in sw_list %}
                          {{ sw.sw_company_product }} <br />
                      {% endfor %}
                  <br /><br />
                  <span style="background-color:cornsilk;">Pellentesque tempor efficitur finibus. Phasellus risus dui, pharetra in ex eu, tempus tempor tellus. Nunc in faucibus nulla. Donec a metus dapibus sapien gravida venenatis. Praesent vitae nisl nec risus pellentesque fermentum lobortis at libero. Aenean imperdiet sapien nunc, sit amet imperdiet mi tincidunt non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur congue libero velit, eu convallis libero aliquam vel. 
                  </span>
              </div>
          </div>
      </div>
      <div class="middle-column">
      
          <div class="m-middle">
              <div class="m-middle-content">
                  <span class="section-headers">Robot:<a href="">{{ hw_products.hw_company_product }}</a></span><br />
                  
              <span class="section-headers">Company:
                {% for co in companies_list %}
                    <a href="">{{ co.company_name }}</a></span>               
                {% endfor %}  
                
                <br />
              <span class="section-headers">Hardware Components:<a href="">{{ hw_products.hw_hardware_components }}</a></span>
              <br /><br /><br /><br />
              <span style="background-color:cornsilk;">
                {{ hw_products.hw_product_description }}
              </span>
                  <br /><br /><br /><br />
                  <span class="section-headers">References:</span><br />
                  <span style="background-color:cornsilk;">
                      <span class="section-content"><a href="">{{ hw_products.hw_references }}</a></span><br />
                      <span class="section-content"><a href="">linkylinklink</a></span><br />
                      
                  </span>
              </div>
          </div> 

      </div>   
  </div> 
  </div>
  <div class="right-column">
      <div class="r-top">
          <span class="section-headers">Related Companies:</span><br />
          <span style="background-color:cornsilk;">
              <a href="">AGCO GROUP</a><br />
              <a href="">Fendt</a><br />
              <a href="">Precision Planting</a>
          </span>
      </div>
      <div class="r-m1">
          <div class="r-column-content">
                  <h3>{{ hw_products.hw_locations_desc }}</h3>  
             
          </div>                
      </div> 
      <div class="r-m2">
          <div class="r-column-content">
              <h3>Crops</h3>
         {% for cr in crops_list %}
              {{ cr.crop_name }} <br />
          {% endfor %}
          </div>  
      </div> 
      <div class="r-bottom">
          <div class="r-column-content">
              <h3>Spell</h3>
          </div>                
      </div> 
          
  </div>   
</div>



<script>
  function myFunction() {
    var copyText = document.getElementById("new_company_product");
    copyText.select();
    document.execCommand("copy");
  }
</script>

{% endblock %}
